* {
  box-sizing: border-box;
}

:root {
  --bg: #0a0a0a;
  --fg: #ededed;
}

[data-theme="dark"] {
  --bg: #0a0a0a;
  --fg: #ededed;
}

[data-theme="light"] {
  --bg: #ffffff;
  --fg: #171717;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;
  padding-bottom: 64px;
}
